* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
}

header menu ul {
    margin: 0;
    padding: 0;
}

header menu ul li {
    display: inline-block;
    margin-right: 10px;
}

header menu ul li a {
    color: white;
    text-decoration: none;
}
header menu ul li a:hover {
    color: #ccc;
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.blocos {
    width: 500px;
    height: 500px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.blocos_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 400px;
    height: 300px;
    background-color: red;
}

.blocos_so {
    text-align: justify;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
}
.blocos_so h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#dv_1 {
    background-color: yellow;
}

#dv_2 {
    background-color: blue;
}

#dv_3 {
    background-color: green;
}