* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
}

header menu ul {
    margin: 0;
    padding: 0;
}

header menu ul li {
    display: inline-block;
    margin-right: 10px;
}

header menu ul li a {
    color: white;
    text-decoration: none;
}
header menu ul li a:hover {
    color: #ccc;
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    text-align: center;
}